@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General / Header section */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
main {
  width: 100%;
  min-height: 100vh;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ecf0f1;
  text-decoration: none;
}
.header {
  background-color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: +1;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.nav-links li a:hover {
  color: #55c57a;
}
.nav-links {
  list-style: none;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  padding: 9px 25px;
  background-color: rgba(85, 197, 122, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(85, 197, 122, 0.8);
}
/* End of General / Header section */

/* File Upload section */

.calc-container {
  height: 50vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); */
}
.calc-card {
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  opacity: 0.7;
  padding-bottom: 40px;
}
.calc-card h3 {
  font-size: 22px;
  font-weight: 600;
  background-color: #f7f7f7;
  width: 100%;
  padding: 0 20px 0 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.calc-drop_box {
  margin: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid #03c03c;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.calc-drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}
.calc-drop_box p {
  margin-top: 10px;
  margin-bottom: 2.5rem;
  font-size: 12px;
  color: #a3a3a3;
}
.calc-btn {
  text-decoration: none;
  background-color: #03c03c;
  color: #f7f7f7;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}
.calc-btn:hover {
  text-decoration: none;
  background-color: #d0f0c0;
  color: #03c03c;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #03c03c;
}
.fileupload {
  margin: 10px 0;
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}
.calc-btn-run {
  text-decoration: none;
  background-color: #d0f0c0;
  color: #03c03c;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #03c03c;
}
.calc-btn-run:hover {
  text-decoration: none;
  background-color: #03c03c;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}
/* End of File Upload section */

/* Previous Pallets */
.prev-pallets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.prev-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.prev-header h1 {
  text-decoration: none;
  color: #2e2e2e;
  background-color: #f7f7f7;
  z-index: -1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.prev-header .triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 0;
  border-left: 50vw solid #f7f7f700;
  border-right: 50vw solid #f7f7f700;
  border-top: 80px solid #f7f7f7;
}
.prev-header .triangle img {
  padding-bottom: 5rem;
}
.prev-pallet-grid {
  max-width: 100%;
  margin: 5rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.pallet-card {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
  backface-visibility: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}
.pallet-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.pallet-card-title {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: start;
  bottom: 1rem;
  width: 100%;
  z-index: 10;
  padding: 1rem;
}
.pallet-card-detail {
  /* color: #777; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 3rem;
  grid-column-gap: 4rem;
  padding: 1rem 1rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.pallet-card-sub-heading {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  grid-column: 1 / -1;
}
.pallet-card-sub-heading span {
  color: #03c03c;
}
.pallet-card-data {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pallet-card-data p {
  text-align: start;
  font-weight: 600;
  color: #777;
}
.pallet-card-data p span {
  text-align: start;
  font-weight: 500;
  color: black;
}
.pallet-card-footer {
  background-color: #f7f7f7;
  padding: 2.5rem 2rem;
  border-top: 1px solid #f1f1f1;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.pallet-card-footer p {
  text-align: start;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-transform: uppercase;
}
.pallet-card-footer p span {
  text-align: start;
  color: #03c03c;
}
.pallet-card-footer .btn-small {
  align-self: center;
}
/* pallet Button */
.button-pallet {
  appearance: none;
  background-color: #ffffff;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.button-pallet:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}
.button-pallet:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.button-pallet:after {
  background-color: #ffffff;
}
.button-pallet span {
  color: #777;
  z-index: 1;
  position: relative;
}

/* End Of Previous Pallets */

/* Footer section */

.footer {
  background-color: #f7f7f7;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 50em) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;
  }
}
.footer-logo {
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
  align-self: center;
}
@media only screen and (max-width: 50em) {
  .footer-logo {
    grid-row: 1;
  }
}
.footer-logo img {
  height: 3rem;
}
.footer-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}
.footer-nav li {
  margin-left: 1.5rem;
}
.footer-nav a {
  color: #777;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer-nav a:hover,
.footer-nav a:active {
  color: #55c57a;
}
.footer-copyright {
  justify-self: end;
  color: #999;
}
@media only screen and (max-width: 50em) {
  .footer-copyright {
    justify-self: center;
  }
}

/* End of Footer section */
